service cloud.firestore {
  match /databases/{database}/documents {
    function hasAuth() {
      return request.auth.uid != null
    }
  	match /users/{uid} {
    	allow read, create, update: if request.auth.uid == uid
    }
    match /cards/{uid} {
      allow read: if hasAuth()
      // TODO
      allow create: if hasAuth()
      allow delete: if false
      allow update: if false
    }
    match /decks/{uid} {
      allow read: if hasAuth()
      // TODO
      allow create: if hasAuth()
      allow delete: if false
      allow update: if false
    }
    match /groups/{uid} {
      allow read: if hasAuth()
      // TODO
      allow create: if hasAuth()
      allow delete: if false
      allow update: if false
    }
    match /permissions/{uid} {
      allow read: if hasAuth()
      // TODO
      allow create: if hasAuth()
      allow delete: if false
      allow update: if false
    }
    match /sessions/{uid} {
      allow read: if hasAuth()
      // TODO
      allow create: if hasAuth()
      allow delete: if false
      allow update: if false
    }
  }
}
