/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: inherit;
  margin: inherit;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin {
  margin: 16px;
}

.hover-hide {
  .hover-hide-el {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

  &:hover {
    .hover-hide-el {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.25s linear;
    }
  }
}

mat-card.flat {
  box-shadow: none !important; // TODO: fix later
  border: solid 1px rgba(0, 0, 0, 0.22);
}
