/* You can add global styles to this file, and also import other style files */
@import './styles/theme.scss';
@import './styles/side-nav-overrides.scss';
@import '~@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: inherit;
  margin: inherit;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin {
  margin: 16px;
}

.no-margin {
  margin: 0;
}

.hover-hide {
  .hover-hide-el {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

  &:hover {
    .hover-hide-el {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.25s linear;
    }
  }
}

mat-card.flat {
  box-shadow: none !important; // TODO: fix later
  border: solid 1px rgba(0, 0, 0, 0.22);
}

.active-link {
  background-color: mat-color($mat-blue, 900);
  opacity: 0.9;

  & :hover {
    background-color: mat-color($mat-blue, 800);
  }
}

.mat-icon.large {
  height: 32px;
  width: 32px;
  font-size: 32px;
}

// class for buttons in the upper right of cards
button.upper-right {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2;
}
